html{
  background-color: white;
  margin: 5rem;
}

body{
  background: black;
  display: felx;
  border: solid darkgrey 5px;
  padding: 30px;
  border-radius: 20px;
}
#meuGrafico{
  max-width: 300px
  max-height: 300px
}
h1{
  color: white;
}
